# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Clase02/AppJava01/dist/
/Clase03/Proyecto-Alfaro/nbproject/private/
/Clase03/AppJava00/build/
/Clase03/AppJava00/nbproject/private/
/Clase03/AppJava00-MILAGROS/build/
/Clase03/AppJava00-MILAGROS/nbproject/private/
/Clase03/Practica01_Cahui Parillo/build/
/Clase03/Practica01_Cahui Parillo/dist/
/Clase03/Practica01_Cahui Parillo/nbproject/private/
/Clase03/ejercicio Roberto Añanca Pairazaman/build/
/Clase03/ejercicio Roberto Añanca Pairazaman/nbproject/private/
/Clase03/Practica1-RobertoAñanca/nbproject/private/
/Clase03/Practica01_Cahui Parillo - copia/nbproject/private/
/Clase03/Practica01_CahuiParillo-GustavoCoronel/nbproject/private/
/Clase03/Practica01_CahuiParillo-GustavoCoronel/build/
/Clase03/SOSA AMONES, JOSE MIGUEL/build/
/Clase03/SOSA AMONES, JOSE MIGUEL/nbproject/private/
/Clase03/Practica01-OtraSolucion-SOSA/nbproject/private/
/Clase03/Practica01_CahuiParillo-EGCC-ConDto/nbproject/private/
/Clase03/PromedioApp/nbproject/private/
/Clase03/PromedioApp/build/
/Clase04/Clase03 Milagros Ego Aguirre/Panilla/build/
/Clase04/Clase03 Milagros Ego Aguirre/Panilla/nbproject/private/
/Clase04/AprendiendoJava/nbproject/private/
/Clase04/Practica02_Cahui Parillo Yanet/build/
/Clase04/Practica02_Cahui Parillo Yanet/nbproject/private/
/Clase04/AprendiendoJava/build/
/Clase05/MateApp/nbproject/private/
/Clase05/MateApp/build/
/Clase06/AprendiendoJava/nbproject/private/
/Clase06/MateApp_Cahui Parillo/build/
/Clase06/MateApp_Cahui Parillo/dist/
/Clase06/MateApp_Cahui Parillo/nbproject/private/
/Clase06/AprendiendoJava/build/
/Clase06/AprendiendoJava/dist/
/Clase07/AprendiendoJava/nbproject/private/
/Clase07/ElBuenSaborMilagros/build/
/Clase07/AprendiendoJava/build/